body {
  background: lightpink;
  text-align: center;
  margin: 0 auto;
}
h1 {
  color: #d14775;
  font-family: 'Pacifico', cursive;
}
h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: palevioletred;
}
p {
  color: white;
  font-family: 'Quicksand', sans-serif;
}
a {
  border-radius: 5px;
  background: #651a33;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  padding: 5px;
  text-decoration-line: none;
}
a:hover {
  background: #521428;
}
ul {
  list-style-type: none;
  padding-left: 0;
 }
#home-page-first-image {
  border-radius: 50%;
}
.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}
.description {
  border: 2px solid #651a33;
  margin: 0 auto;
  width: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
    background: linear-gradient(to bottom, #391326, lightpink);
    border-radius: 5px;
  }
}

